{% extends '::admin.html.twig' %}

{% block content %}
   
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                <div  {% if type=="notification" %}class="alert alert-info" {% elseif type!="notification" %} class="alert alert-danger"{% endif %}> 
                    <strong>   {{message}}     </strong> 
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-8">

            <div class="row">

                <div class="col-sm-12">
                    <h1>Créer un nouveau  utilisateur</h1>

                    {{ form_start(form) }}

                    <div class="edit_form-group row">
                        {{ form_label(form.nom, 'Nom ', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    </div>


                    <div class="edit_form-group row">
                        {{ form_label(form.prenom, 'Prénom', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    </div>


                    <!--ADresse-->
                    <div class="form-group row">

                        {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}

                    </div> <!--Adresse-->
                    
                    <div class="edit_form-group row">
                        {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="edit_form-group row">
                        {{ form_label(form.email, 'Email', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <!--Password-->
                    <div class="form-group row">
                        {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        <!-- <input type="password" id="password" placeholder="Password" class="form-control">-->
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <!--password-->

               
                    <!--Répéter Password-->
                    <div class="form-group row">
                        {{ form_label(form.plainPassword.second, "Répéter le Mot de passe", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        <!-- <input type="password" id="password" placeholder="Password" class="form-control">-->
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                     <div class="form-group row">
                        {{ form_label(form.roles, "Role", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        <!-- <input type="password" id="password" placeholder="Password" class="form-control">-->
                        {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="form-group row">
                        {{ form_label(form.enabled, "Activé", {'label_attr': {'class': 'col-2 col-form-label'}}) }}
                        <!-- <input type="password" id="password" placeholder="Password" class="form-control">-->
                        {{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <br/>
                    <input type="submit" colspan="2" class="btn-submit"value="Créer" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4" ><ul>
                <li>
                    <a href="{{ path('adminuser_index') }}"><span class="glyphicon glyphicon-th-list"></span></a>
                </li>

            </ul></div>
    </div>
{% endblock %}
